/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png');
}

audio {
    display: block;
    margin: 20px auto; 
}
img {
    display: block;
    margin: 20px auto; 
}
/* Navigation */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
}

/* Validated Screenshot */
.validated-screenshot img {
    width: 500px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
}

.validated-screenshot {
    text-align: center;
    margin-bottom: 20px;
}

/* Validated Container */
.validated-container {
    display: flex;
    justify-content: space-between;
}

.validated-column {
    width: 45%;
}

/* Artifacts List and Module List */
.artifactsList, .moduleList {
    padding: 0;
}

.artifactsList li, .moduleList li {
    display: inline-block;
    margin: 20px;
    vertical-align: top; 
    text-align: center;
}

.artifactsList img, .moduleList img {
    width: 150px; 
    height: 100px; 
    display: block; 
    margin-bottom: auto; 
}

/* Para style */
p {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.8;
}
